.filter_wraper {
  border: 1px solid #ddd;
  margin-top: 20px;
}

.filter_title {
  background-color: #2b5da5;
  color: #fff;
}

.filter_select {
  width: 80%;
  height: 30px;
  border: 1px solid #ddd;
}